<div class="nopage-container">
  <div class="nopage-content">
    
    <div class="nopage-image-wrapper">
      <img src="assets/images/nopage.png" alt="404 Hiba - A kutya kihúzta a kábelt" class="nopage-image">
    </div>

    <h1 class="nopage-title">Hoppá, valaki túl játszós kedvében volt! (404)</h1>
    <p class="nopage-text">
      Úgy tűnik, négylábú munkatársunk megtalálta a tápkábelt. 
      <br>
      Már dolgozunk a hiba elhárításán (és a kutya lekenyerezésén), de addig is térj vissza a biztonságos útra!
    </p>

    <div class="nopage-actions">
      <a routerLink="/" class="nopage-btn nopage-btn-secondary">Vissza a főoldalra</a>
      <a routerLink="/cars" class="nopage-btn nopage-btn-primary">Megnézem a kínálatot</a>
    </div>

  </div>
</div>